h1 { color: #cc6600; }

footer { font-size: 8px; }

a:link { color: #3374FF; }
a:hover { color: #0B9A9E; }
a:focus { color: #B833FF; }
a:visited { color: #6219F5; }
a:active { color: #1BB416; }

a {text-decoration: blink;}